apiVersion: v1
kind: Service
metadata:
  name: homer
  namespace: default
  labels:
    app: homer
spec:
  type: NodePort
  selector:
    app: homer
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 3000
