apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-runner
  labels:
    app.kubernetes.io/name: gitlab-runner
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: gitlab-runner-storage
  volumeMode: Filesystem
  local:
    path: /srv/gitlab-runner
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - cloud-server
