apiVersion: v1
kind: PersistentVolume
metadata:
  name: tailscale
  labels:
    app.kubernetes.io/name: tailscale
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: tailscale-storage
  volumeMode: Filesystem
  local:
    path: /srv/tailscale
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - cloud-server
