apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tailscale-pvc
  namespace: default
  labels:
    app.kubernetes.io/name: tailscale
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: tailscale-storage
  volumeMode: Filesystem
