apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tailscale-role-binding
  namespace: default
subjects:
  - kind: ServiceAccount
    name: tailscale
    namespace: default
roleRef:
  kind: Role
  name: tailscale-role
  apiGroup: rbac.authorization.k8s.io
