apiVersion: apps/v1
kind: Deployment
metadata:
  generation: 1
  labels:
    app: postgres
  name: postgres
  namespace: default
spec:
  progressDeadlineSeconds: 60
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
    spec:
      serviceAccountName: postgres
#     hostNetwork: true
      terminationGracePeriodSeconds: 30

      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule

      volumes:
#       - name: postgres-config
#         configMap:
#           name: postgres-config
        - name: postgres-pvc
          persistentVolumeClaim:
            claimName: postgres-pvc

      containers:
        - name: postgres
          image: 127.0.0.1:5000/library/postgres:17
          imagePullPolicy: IfNotPresent

#         command: ["tail", "-f", "/dev/null"]

          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: POSTGRES_DB

          ports:
            - name: postgres
              containerPort: 5432

          volumeMounts:
            - name: postgres-pvc
              mountPath: /var/lib/postgresql
#             subPath: 
#             readOnly: true
          
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 4
              memory: 1Gi

          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File

      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler

#     securityContext:
#       runAsUser: 1000
#       runAsGroup: 1000
#       fsGroup: 1000
